<div *ngIf="employee">
    <h1>{{title+employee.employeeName}}</h1>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Employee ID</th>
                <td>{{employee.employeeId}}</td>
            </tr>
            <tr>
                <th>Employee Name</th>
                <td>{{employee.employeeName}}</td>
            </tr>
            <tr>
                <th>Employee Address</th>
                <td>{{employee.address}}</td>
            </tr>
            <tr>
                <th>Employee City</th>
                <td>{{employee.city}}</td>
            </tr>
            <tr>
                <th>Employee ZipCode</th>
                <td>{{employee.zipcode}}</td>
            </tr>
            <tr>
                <th>Employee Phone</th>
                <td>{{employee.phone}}</td>
            </tr>
            <tr>
                <th>Employee Email</th>
                <td>{{employee.email}}</td>
            </tr>
            <tr>
                <th>Employee SkillSets</th>
                <td>{{employee.skillSets}}</td>
            </tr>
            <tr>
                <th>Employee Country</th>
                <td>{{employee.country}}</td>
            </tr>
            <tr>
                <th>Employee JoiningDate</th>
                <td>{{employee.joiningDate}}</td>
            </tr>
            <tr>
                <th>Employee Avatar</th>
                <td>
                    <img [src] = "employee.avatar" [alt] ="employee.employeeName" width="50px" height="50px">
                </td>
            </tr>
        </tbody>
    </table>
</div>