<div *ngIf="event">
    <h1>{{title+event.eventName}}</h1>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Event ID</th>
                <td>{{event.eventId}}</td>
            </tr>
            <tr>
                <th>Event Code</th>
                <td>{{event.eventCode}}</td>
            </tr>
            <tr>
                <th>Event Name</th>
                <td>{{event.eventName}}</td>
            </tr>
            <tr>
                <th>Event Description</th>
                <td>{{event.description}}</td>
            </tr>
            <tr>
                <th>Event Start Date</th>
                <td>{{event.startDate}}<td>
            </tr>
            <tr>
                <th>Event End Date</th>
                <td>{{event.endDate}}</td>
            </tr>
            <tr>
                <th>Total Seats Filled</th>
                <td>{{event.seatsFilled}}</td>
            </tr>
            <tr>
                <th>Event Fees</th>
                <td>{{event.fees}}</td>
            </tr>
            <tr>
                <th>Event Logo</th>
                <td>
                    <img [src] = "event.logo" [alt] ="event.eventName" width="50px" height="50px">
                </td>
            </tr>
        </tbody>
    </table>
</div>  
 
<!-- <div *ngIf="event">
    <h1>{{title+event.eventName}}</h1>
</div>  -->