<h1 [innerText]="title"></h1>
<hr>
<h6 [innerText]="subtitle"></h6>
<table class="table table-hover table-striped" *ngIf="employees && employees.length else noDataTemplate">
    <thead>
        <tr >
            <th>Employee Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Contact #</th>
            <th>Show Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td><span [innerText]="employee.employeeName"></span></td>
            <td><span [innerText]="employee.city"></span></td>
            <td><span [innerText]="employee.email"></span></td>
            <td><span [innerText]="employee.phone"></span></td>
            <td>
                <button class="btn btn-info" (click)="onEmployeeSelection(employee)">Show Details</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="selectedEmployee">
    <bosch-employee-details [employee]="selectedEmployee"></bosch-employee-details>
</div>
<ng-template #noDataTemplate>
    <h4>We didn't find any employees record! Please try after some time!</h4>
</ng-template>